# Ignore everything
*

__pycache__

# Unignore the .gitignore file itself
!.gitignore
!requirements.txt

# Unignore the core/ and utils/ folders and their contents
!core/
!core/**

!utils/
!utils/**

core//pycache/
utils//pycache/