# Ignore everything
*

!README.md

# Unignore the .gitignore file itself
!.gitignore
!requirements.txt

# Unignore the core/ and utils/ folders and their contents
!core/
!core/**

!utils/
!utils/**

core/__pycache__/
utils/__pycache__/